* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    background-image: url(../images/dust_scratches.png);
    background-color: #eee;
    padding-bottom: 105px;
}

.logo, .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
}

div.head-container {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

div.logo {
    background-color: #4aaaa5;
    text-align: center;
    color: #fff;
    float: left;
    padding: 25px;
    font-size: 36px;
}

header .nav {
    float: right;
    font-size: 18px;
    margin-top: 35px;
}

.nav > a {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    transition: color .3s linear;
}

.nav > a:hover {
    color: #4aaaa5;
}

main {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    padding: 0 25px;
}

div.title {
    color: #4aaaa5;
    font-size: 36px;
    border-bottom: 2px solid #eee;
    padding: 25px 0;
    margin-bottom: 40px;
}

img.bio {
    float: left;
    margin-right: 25px;
}

p {
    line-height: 2em;
    margin-bottom: 20px;
}

.input {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    outline: none;
    transition: border-color .3s linear;
}

textarea.input {
    height: 250px;
}

.input:focus {
    border-color: #54d3d3;
}

button {
    border: none;
    background-color: #4aaaa5;
    padding: 10px 25px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    transition: background-color .3s linear;
}

button:hover {
    background-color: #4dc4c4;
}

div.img-container {
    float: left;
    position: relative;
    margin: 0 30px 50px 0;
    transition: opacity .5s ease;
}

div.img-container:hover {
    opacity: .6;
}

div.img-banner {
    background-color: #4aaaa5;
    text-align: center;
    color: #fff;
    padding: 15px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 15px;
    width: 100%;

}

footer {
    position: absolute;
    bottom: 0;
    clear: both;
    border-top: 7px solid #4aaaa5;
    width: 100%;
    background-color: #666;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 10px 0;
    color: #fff;
    font-size: 14px;

}

@media (max-width: 980px) {
    div.head-container {
        width: 95%;
    }

    main {
        width: 95%;
    }
}

@media (max-width: 768px) {
    div.head-container {
        width: 100%;
    }

    main {
        width: 100%;
    }

    div.nav {
        margin-right: 15px;
    }
}

@media (max-width: 640px) {
    div.head-container {
        min-width: 350px;
    }

    main {
        min-width: 350px;
    }
  
    div.logo {
        background-color: #4aaaa5;
        text-align: center;
        color: #fff;
        float: none;
    }
    
    div.nav {
        float: none;
        padding: 25px 0;
        margin: 0;
        text-align: center;
    }

    .nav > a {
        margin: 0 5px;
    }

    img.bio {
        float: none;
        margin-bottom: 20px;
    }

}